<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>images/fish_xiaoyinlong_dying_01.png</key>
			<dict>
				<key>width</key>
				<integer>462</integer>
				<key>height</key>
				<integer>138</integer>
				<key>originalWidth</key>
				<integer>480</integer>
				<key>originalHeight</key>
				<integer>177</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>2</real>
				<key>offsetY</key>
				<real>-1.5</real>
			</dict>
			<key>images/fish_xiaoyinlong_dying_02.png</key>
			<dict>
				<key>width</key>
				<integer>460</integer>
				<key>height</key>
				<integer>141</integer>
				<key>originalWidth</key>
				<integer>480</integer>
				<key>originalHeight</key>
				<integer>177</integer>
				<key>x</key>
				<integer>464</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>2</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>images/fish_xiaoyinlong_dying_03.png</key>
			<dict>
				<key>width</key>
				<integer>457</integer>
				<key>height</key>
				<integer>140</integer>
				<key>originalWidth</key>
				<integer>480</integer>
				<key>originalHeight</key>
				<integer>177</integer>
				<key>x</key>
				<integer>926</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>2.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>images/fish_xiaoyinlong_dying_04.png</key>
			<dict>
				<key>width</key>
				<integer>464</integer>
				<key>height</key>
				<integer>136</integer>
				<key>originalWidth</key>
				<integer>480</integer>
				<key>originalHeight</key>
				<integer>177</integer>
				<key>x</key>
				<integer>1385</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>2</real>
				<key>offsetY</key>
				<real>-1.5</real>
			</dict>
			<key>images/images/fish_xiaoyinlong_walking_01.png</key>
			<dict>
				<key>width</key>
				<integer>465</integer>
				<key>height</key>
				<integer>132</integer>
				<key>originalWidth</key>
				<integer>480</integer>
				<key>originalHeight</key>
				<integer>177</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>143</integer>
				<key>offsetX</key>
				<real>2.5</real>
				<key>offsetY</key>
				<real>5.5</real>
			</dict>
			<key>images/images/fish_xiaoyinlong_walking_02.png</key>
			<dict>
				<key>width</key>
				<integer>467</integer>
				<key>height</key>
				<integer>129</integer>
				<key>originalWidth</key>
				<integer>480</integer>
				<key>originalHeight</key>
				<integer>177</integer>
				<key>x</key>
				<integer>467</integer>
				<key>y</key>
				<integer>143</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>8</real>
			</dict>
			<key>images/images/fish_xiaoyinlong_walking_03.png</key>
			<dict>
				<key>width</key>
				<integer>464</integer>
				<key>height</key>
				<integer>132</integer>
				<key>originalWidth</key>
				<integer>480</integer>
				<key>originalHeight</key>
				<integer>177</integer>
				<key>x</key>
				<integer>936</integer>
				<key>y</key>
				<integer>143</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>7.5</real>
			</dict>
			<key>images/images/fish_xiaoyinlong_walking_04.png</key>
			<dict>
				<key>width</key>
				<integer>456</integer>
				<key>height</key>
				<integer>136</integer>
				<key>originalWidth</key>
				<integer>480</integer>
				<key>originalHeight</key>
				<integer>177</integer>
				<key>x</key>
				<integer>1402</integer>
				<key>y</key>
				<integer>143</integer>
				<key>offsetX</key>
				<real>8</real>
				<key>offsetY</key>
				<real>7.5</real>
			</dict>
			<key>images/images/fish_xiaoyinlong_walking_05.png</key>
			<dict>
				<key>width</key>
				<integer>463</integer>
				<key>height</key>
				<integer>128</integer>
				<key>originalWidth</key>
				<integer>480</integer>
				<key>originalHeight</key>
				<integer>177</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>281</integer>
				<key>offsetX</key>
				<real>2.5</real>
				<key>offsetY</key>
				<real>7.5</real>
			</dict>
			<key>images/images/fish_xiaoyinlong_walking_06.png</key>
			<dict>
				<key>width</key>
				<integer>468</integer>
				<key>height</key>
				<integer>125</integer>
				<key>originalWidth</key>
				<integer>480</integer>
				<key>originalHeight</key>
				<integer>177</integer>
				<key>x</key>
				<integer>465</integer>
				<key>y</key>
				<integer>281</integer>
				<key>offsetX</key>
				<real>2</real>
				<key>offsetY</key>
				<real>4</real>
			</dict>
			<key>images/images/fish_xiaoyinlong_walking_07.png</key>
			<dict>
				<key>width</key>
				<integer>463</integer>
				<key>height</key>
				<integer>128</integer>
				<key>originalWidth</key>
				<integer>480</integer>
				<key>originalHeight</key>
				<integer>177</integer>
				<key>x</key>
				<integer>935</integer>
				<key>y</key>
				<integer>281</integer>
				<key>offsetX</key>
				<real>2.5</real>
				<key>offsetY</key>
				<real>2.5</real>
			</dict>
			<key>images/images/fish_xiaoyinlong_walking_08.png</key>
			<dict>
				<key>width</key>
				<integer>462</integer>
				<key>height</key>
				<integer>125</integer>
				<key>originalWidth</key>
				<integer>480</integer>
				<key>originalHeight</key>
				<integer>177</integer>
				<key>x</key>
				<integer>1400</integer>
				<key>y</key>
				<integer>281</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>-4</real>
			</dict>
			<key>images/images/fish_xiaoyinlong_walking_09.png</key>
			<dict>
				<key>width</key>
				<integer>462</integer>
				<key>height</key>
				<integer>127</integer>
				<key>originalWidth</key>
				<integer>480</integer>
				<key>originalHeight</key>
				<integer>177</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>411</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>fish_xiaoyinlong0.png</string>
			<key>realTextureFileName</key>
			<string>fish_xiaoyinlong0.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>