<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>images/images1/fish_bianfuyu_dying_01.png</key>
			<dict>
				<key>width</key>
				<integer>186</integer>
				<key>height</key>
				<integer>246</integer>
				<key>originalWidth</key>
				<integer>209</integer>
				<key>originalHeight</key>
				<integer>252</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>9.5</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>images/images1/fish_bianfuyu_dying_02.png</key>
			<dict>
				<key>width</key>
				<integer>204</integer>
				<key>height</key>
				<integer>247</integer>
				<key>originalWidth</key>
				<integer>209</integer>
				<key>originalHeight</key>
				<integer>252</integer>
				<key>x</key>
				<integer>188</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>2.5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>images/images1/fish_bianfuyu_dying_03.png</key>
			<dict>
				<key>width</key>
				<integer>202</integer>
				<key>height</key>
				<integer>247</integer>
				<key>originalWidth</key>
				<integer>209</integer>
				<key>originalHeight</key>
				<integer>252</integer>
				<key>x</key>
				<integer>394</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>3.5</real>
				<key>offsetY</key>
				<real>-1.5</real>
			</dict>
			<key>images/images1/fish_bianfuyu_dying_04.png</key>
			<dict>
				<key>width</key>
				<integer>204</integer>
				<key>height</key>
				<integer>247</integer>
				<key>originalWidth</key>
				<integer>209</integer>
				<key>originalHeight</key>
				<integer>252</integer>
				<key>x</key>
				<integer>598</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>2.5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>images/images1/fish_bianfuyu_dying_05.png</key>
			<dict>
				<key>width</key>
				<integer>204</integer>
				<key>height</key>
				<integer>247</integer>
				<key>originalWidth</key>
				<integer>209</integer>
				<key>originalHeight</key>
				<integer>252</integer>
				<key>x</key>
				<integer>804</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>2.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>images/images1/fish_bianfuyu_dying_06.png</key>
			<dict>
				<key>width</key>
				<integer>204</integer>
				<key>height</key>
				<integer>247</integer>
				<key>originalWidth</key>
				<integer>209</integer>
				<key>originalHeight</key>
				<integer>252</integer>
				<key>x</key>
				<integer>1010</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>2.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>images/fish_bianfuyu_walking_01.png</key>
			<dict>
				<key>width</key>
				<integer>206</integer>
				<key>height</key>
				<integer>249</integer>
				<key>originalWidth</key>
				<integer>209</integer>
				<key>originalHeight</key>
				<integer>259</integer>
				<key>x</key>
				<integer>1216</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>images/fish_bianfuyu_walking_02.png</key>
			<dict>
				<key>width</key>
				<integer>205</integer>
				<key>height</key>
				<integer>255</integer>
				<key>originalWidth</key>
				<integer>209</integer>
				<key>originalHeight</key>
				<integer>259</integer>
				<key>x</key>
				<integer>1424</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>2</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>images/fish_bianfuyu_walking_03.png</key>
			<dict>
				<key>width</key>
				<integer>205</integer>
				<key>height</key>
				<integer>258</integer>
				<key>originalWidth</key>
				<integer>209</integer>
				<key>originalHeight</key>
				<integer>259</integer>
				<key>x</key>
				<integer>1631</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>2</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>images/fish_bianfuyu_walking_04.png</key>
			<dict>
				<key>width</key>
				<integer>204</integer>
				<key>height</key>
				<integer>258</integer>
				<key>originalWidth</key>
				<integer>209</integer>
				<key>originalHeight</key>
				<integer>259</integer>
				<key>x</key>
				<integer>1838</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>2.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>images/fish_bianfuyu_walking_05.png</key>
			<dict>
				<key>width</key>
				<integer>204</integer>
				<key>height</key>
				<integer>256</integer>
				<key>originalWidth</key>
				<integer>209</integer>
				<key>originalHeight</key>
				<integer>259</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>260</integer>
				<key>offsetX</key>
				<real>2.5</real>
				<key>offsetY</key>
				<real>-1.5</real>
			</dict>
			<key>images/fish_bianfuyu_walking_06.png</key>
			<dict>
				<key>width</key>
				<integer>203</integer>
				<key>height</key>
				<integer>251</integer>
				<key>originalWidth</key>
				<integer>209</integer>
				<key>originalHeight</key>
				<integer>259</integer>
				<key>x</key>
				<integer>206</integer>
				<key>y</key>
				<integer>260</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>-2</real>
			</dict>
			<key>images/fish_bianfuyu_walking_07.png</key>
			<dict>
				<key>width</key>
				<integer>203</integer>
				<key>height</key>
				<integer>246</integer>
				<key>originalWidth</key>
				<integer>209</integer>
				<key>originalHeight</key>
				<integer>259</integer>
				<key>x</key>
				<integer>411</integer>
				<key>y</key>
				<integer>260</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>-2.5</real>
			</dict>
			<key>images/fish_bianfuyu_walking_08.png</key>
			<dict>
				<key>width</key>
				<integer>203</integer>
				<key>height</key>
				<integer>240</integer>
				<key>originalWidth</key>
				<integer>209</integer>
				<key>originalHeight</key>
				<integer>259</integer>
				<key>x</key>
				<integer>616</integer>
				<key>y</key>
				<integer>260</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>-3.5</real>
			</dict>
			<key>images/fish_bianfuyu_walking_09.png</key>
			<dict>
				<key>width</key>
				<integer>203</integer>
				<key>height</key>
				<integer>232</integer>
				<key>originalWidth</key>
				<integer>209</integer>
				<key>originalHeight</key>
				<integer>259</integer>
				<key>x</key>
				<integer>821</integer>
				<key>y</key>
				<integer>260</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>-3.5</real>
			</dict>
			<key>images/fish_bianfuyu_walking_10.png</key>
			<dict>
				<key>width</key>
				<integer>203</integer>
				<key>height</key>
				<integer>225</integer>
				<key>originalWidth</key>
				<integer>209</integer>
				<key>originalHeight</key>
				<integer>259</integer>
				<key>x</key>
				<integer>1026</integer>
				<key>y</key>
				<integer>260</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>-4</real>
			</dict>
			<key>images/fish_bianfuyu_walking_11.png</key>
			<dict>
				<key>width</key>
				<integer>203</integer>
				<key>height</key>
				<integer>221</integer>
				<key>originalWidth</key>
				<integer>209</integer>
				<key>originalHeight</key>
				<integer>259</integer>
				<key>x</key>
				<integer>1231</integer>
				<key>y</key>
				<integer>260</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>-4</real>
			</dict>
			<key>images/fish_bianfuyu_walking_12.png</key>
			<dict>
				<key>width</key>
				<integer>203</integer>
				<key>height</key>
				<integer>219</integer>
				<key>originalWidth</key>
				<integer>209</integer>
				<key>originalHeight</key>
				<integer>259</integer>
				<key>x</key>
				<integer>1436</integer>
				<key>y</key>
				<integer>260</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>-4</real>
			</dict>
			<key>images/fish_bianfuyu_walking_13.png</key>
			<dict>
				<key>width</key>
				<integer>203</integer>
				<key>height</key>
				<integer>220</integer>
				<key>originalWidth</key>
				<integer>209</integer>
				<key>originalHeight</key>
				<integer>259</integer>
				<key>x</key>
				<integer>1641</integer>
				<key>y</key>
				<integer>260</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>-4.5</real>
			</dict>
			<key>images/fish_bianfuyu_walking_14.png</key>
			<dict>
				<key>width</key>
				<integer>203</integer>
				<key>height</key>
				<integer>223</integer>
				<key>originalWidth</key>
				<integer>209</integer>
				<key>originalHeight</key>
				<integer>259</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>518</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>-5</real>
			</dict>
			<key>images/fish_bianfuyu_walking_15.png</key>
			<dict>
				<key>width</key>
				<integer>203</integer>
				<key>height</key>
				<integer>223</integer>
				<key>originalWidth</key>
				<integer>209</integer>
				<key>originalHeight</key>
				<integer>259</integer>
				<key>x</key>
				<integer>205</integer>
				<key>y</key>
				<integer>518</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>-6</real>
			</dict>
			<key>images/fish_bianfuyu_walking_16.png</key>
			<dict>
				<key>width</key>
				<integer>204</integer>
				<key>height</key>
				<integer>221</integer>
				<key>originalWidth</key>
				<integer>209</integer>
				<key>originalHeight</key>
				<integer>259</integer>
				<key>x</key>
				<integer>410</integer>
				<key>y</key>
				<integer>518</integer>
				<key>offsetX</key>
				<real>2.5</real>
				<key>offsetY</key>
				<real>-6</real>
			</dict>
			<key>images/fish_bianfuyu_walking_17.png</key>
			<dict>
				<key>width</key>
				<integer>204</integer>
				<key>height</key>
				<integer>221</integer>
				<key>originalWidth</key>
				<integer>209</integer>
				<key>originalHeight</key>
				<integer>259</integer>
				<key>x</key>
				<integer>616</integer>
				<key>y</key>
				<integer>518</integer>
				<key>offsetX</key>
				<real>2.5</real>
				<key>offsetY</key>
				<real>-6</real>
			</dict>
			<key>images/fish_bianfuyu_walking_18.png</key>
			<dict>
				<key>width</key>
				<integer>205</integer>
				<key>height</key>
				<integer>225</integer>
				<key>originalWidth</key>
				<integer>209</integer>
				<key>originalHeight</key>
				<integer>259</integer>
				<key>x</key>
				<integer>822</integer>
				<key>y</key>
				<integer>518</integer>
				<key>offsetX</key>
				<real>2</real>
				<key>offsetY</key>
				<real>-5</real>
			</dict>
			<key>images/fish_bianfuyu_walking_19.png</key>
			<dict>
				<key>width</key>
				<integer>205</integer>
				<key>height</key>
				<integer>232</integer>
				<key>originalWidth</key>
				<integer>209</integer>
				<key>originalHeight</key>
				<integer>259</integer>
				<key>x</key>
				<integer>1029</integer>
				<key>y</key>
				<integer>518</integer>
				<key>offsetX</key>
				<real>2</real>
				<key>offsetY</key>
				<real>-4.5</real>
			</dict>
			<key>images/fish_bianfuyu_walking_20.png</key>
			<dict>
				<key>width</key>
				<integer>205</integer>
				<key>height</key>
				<integer>238</integer>
				<key>originalWidth</key>
				<integer>209</integer>
				<key>originalHeight</key>
				<integer>259</integer>
				<key>x</key>
				<integer>1236</integer>
				<key>y</key>
				<integer>518</integer>
				<key>offsetX</key>
				<real>2</real>
				<key>offsetY</key>
				<real>-3.5</real>
			</dict>
			<key>images/fish_bianfuyu_walking_21.png</key>
			<dict>
				<key>width</key>
				<integer>206</integer>
				<key>height</key>
				<integer>243</integer>
				<key>originalWidth</key>
				<integer>209</integer>
				<key>originalHeight</key>
				<integer>259</integer>
				<key>x</key>
				<integer>1443</integer>
				<key>y</key>
				<integer>518</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>-3</real>
			</dict>
			<key>images/fish_bianfuyu_walking_22.png</key>
			<dict>
				<key>width</key>
				<integer>206</integer>
				<key>height</key>
				<integer>246</integer>
				<key>originalWidth</key>
				<integer>209</integer>
				<key>originalHeight</key>
				<integer>259</integer>
				<key>x</key>
				<integer>1651</integer>
				<key>y</key>
				<integer>518</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>-1.5</real>
			</dict>
			<key>images/fish_bianfuyu_walking_23.png</key>
			<dict>
				<key>width</key>
				<integer>206</integer>
				<key>height</key>
				<integer>247</integer>
				<key>originalWidth</key>
				<integer>209</integer>
				<key>originalHeight</key>
				<integer>259</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>766</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>images/fish_bianfuyu_walking_24.png</key>
			<dict>
				<key>width</key>
				<integer>206</integer>
				<key>height</key>
				<integer>247</integer>
				<key>originalWidth</key>
				<integer>209</integer>
				<key>originalHeight</key>
				<integer>259</integer>
				<key>x</key>
				<integer>208</integer>
				<key>y</key>
				<integer>766</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>fish_bianfuyu0.png</string>
			<key>realTextureFileName</key>
			<string>fish_bianfuyu0.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>