<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>images/fish_huabanyu_dying_01.png</key>
			<dict>
				<key>width</key>
				<integer>170</integer>
				<key>height</key>
				<integer>176</integer>
				<key>originalWidth</key>
				<integer>190</integer>
				<key>originalHeight</key>
				<integer>199</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>9</real>
				<key>offsetY</key>
				<real>-11.5</real>
			</dict>
			<key>images/fish_huabanyu_dying_02.png</key>
			<dict>
				<key>width</key>
				<integer>180</integer>
				<key>height</key>
				<integer>178</integer>
				<key>originalWidth</key>
				<integer>190</integer>
				<key>originalHeight</key>
				<integer>199</integer>
				<key>x</key>
				<integer>172</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>-10.5</real>
			</dict>
			<key>images/fish_huabanyu_dying_03.png</key>
			<dict>
				<key>width</key>
				<integer>187</integer>
				<key>height</key>
				<integer>191</integer>
				<key>originalWidth</key>
				<integer>190</integer>
				<key>originalHeight</key>
				<integer>199</integer>
				<key>x</key>
				<integer>354</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-1.5</real>
				<key>offsetY</key>
				<real>-4</real>
			</dict>
			<key>images/fish_huabanyu_dying_04.png</key>
			<dict>
				<key>width</key>
				<integer>181</integer>
				<key>height</key>
				<integer>198</integer>
				<key>originalWidth</key>
				<integer>190</integer>
				<key>originalHeight</key>
				<integer>199</integer>
				<key>x</key>
				<integer>543</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>images/1/fish_huabanyu_walking_00000.png</key>
			<dict>
				<key>width</key>
				<integer>185</integer>
				<key>height</key>
				<integer>82</integer>
				<key>originalWidth</key>
				<integer>190</integer>
				<key>originalHeight</key>
				<integer>83</integer>
				<key>x</key>
				<integer>726</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>2.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>images/1/fish_huabanyu_walking_00001.png</key>
			<dict>
				<key>width</key>
				<integer>186</integer>
				<key>height</key>
				<integer>81</integer>
				<key>originalWidth</key>
				<integer>190</integer>
				<key>originalHeight</key>
				<integer>83</integer>
				<key>x</key>
				<integer>913</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>2</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>images/1/fish_huabanyu_walking_00002.png</key>
			<dict>
				<key>width</key>
				<integer>185</integer>
				<key>height</key>
				<integer>81</integer>
				<key>originalWidth</key>
				<integer>190</integer>
				<key>originalHeight</key>
				<integer>83</integer>
				<key>x</key>
				<integer>1101</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>2.5</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>images/1/fish_huabanyu_walking_00003.png</key>
			<dict>
				<key>width</key>
				<integer>185</integer>
				<key>height</key>
				<integer>83</integer>
				<key>originalWidth</key>
				<integer>190</integer>
				<key>originalHeight</key>
				<integer>83</integer>
				<key>x</key>
				<integer>1288</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>2.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>images/1/fish_huabanyu_walking_00004.png</key>
			<dict>
				<key>width</key>
				<integer>184</integer>
				<key>height</key>
				<integer>83</integer>
				<key>originalWidth</key>
				<integer>190</integer>
				<key>originalHeight</key>
				<integer>83</integer>
				<key>x</key>
				<integer>1475</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>images/1/fish_huabanyu_walking_00005.png</key>
			<dict>
				<key>width</key>
				<integer>184</integer>
				<key>height</key>
				<integer>81</integer>
				<key>originalWidth</key>
				<integer>190</integer>
				<key>originalHeight</key>
				<integer>83</integer>
				<key>x</key>
				<integer>1661</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>images/1/fish_huabanyu_walking_00006.png</key>
			<dict>
				<key>width</key>
				<integer>185</integer>
				<key>height</key>
				<integer>77</integer>
				<key>originalWidth</key>
				<integer>190</integer>
				<key>originalHeight</key>
				<integer>83</integer>
				<key>x</key>
				<integer>1847</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>2.5</real>
				<key>offsetY</key>
				<real>-3</real>
			</dict>
			<key>images/1/fish_huabanyu_walking_00007.png</key>
			<dict>
				<key>width</key>
				<integer>185</integer>
				<key>height</key>
				<integer>74</integer>
				<key>originalWidth</key>
				<integer>190</integer>
				<key>originalHeight</key>
				<integer>83</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>200</integer>
				<key>offsetX</key>
				<real>2.5</real>
				<key>offsetY</key>
				<real>-4.5</real>
			</dict>
			<key>images/1/fish_huabanyu_walking_00008.png</key>
			<dict>
				<key>width</key>
				<integer>185</integer>
				<key>height</key>
				<integer>70</integer>
				<key>originalWidth</key>
				<integer>190</integer>
				<key>originalHeight</key>
				<integer>83</integer>
				<key>x</key>
				<integer>187</integer>
				<key>y</key>
				<integer>200</integer>
				<key>offsetX</key>
				<real>2.5</real>
				<key>offsetY</key>
				<real>-6.5</real>
			</dict>
			<key>images/1/fish_huabanyu_walking_00009.png</key>
			<dict>
				<key>width</key>
				<integer>185</integer>
				<key>height</key>
				<integer>66</integer>
				<key>originalWidth</key>
				<integer>190</integer>
				<key>originalHeight</key>
				<integer>83</integer>
				<key>x</key>
				<integer>374</integer>
				<key>y</key>
				<integer>200</integer>
				<key>offsetX</key>
				<real>2.5</real>
				<key>offsetY</key>
				<real>-7.5</real>
			</dict>
			<key>images/1/fish_huabanyu_walking_00010.png</key>
			<dict>
				<key>width</key>
				<integer>185</integer>
				<key>height</key>
				<integer>65</integer>
				<key>originalWidth</key>
				<integer>190</integer>
				<key>originalHeight</key>
				<integer>83</integer>
				<key>x</key>
				<integer>561</integer>
				<key>y</key>
				<integer>200</integer>
				<key>offsetX</key>
				<real>2.5</real>
				<key>offsetY</key>
				<real>-9</real>
			</dict>
			<key>images/1/fish_huabanyu_walking_00011.png</key>
			<dict>
				<key>width</key>
				<integer>185</integer>
				<key>height</key>
				<integer>65</integer>
				<key>originalWidth</key>
				<integer>190</integer>
				<key>originalHeight</key>
				<integer>83</integer>
				<key>x</key>
				<integer>748</integer>
				<key>y</key>
				<integer>200</integer>
				<key>offsetX</key>
				<real>2.5</real>
				<key>offsetY</key>
				<real>-9</real>
			</dict>
			<key>images/1/fish_huabanyu_walking_00012.png</key>
			<dict>
				<key>width</key>
				<integer>186</integer>
				<key>height</key>
				<integer>65</integer>
				<key>originalWidth</key>
				<integer>190</integer>
				<key>originalHeight</key>
				<integer>83</integer>
				<key>x</key>
				<integer>935</integer>
				<key>y</key>
				<integer>200</integer>
				<key>offsetX</key>
				<real>2</real>
				<key>offsetY</key>
				<real>-9</real>
			</dict>
			<key>images/1/fish_huabanyu_walking_00013.png</key>
			<dict>
				<key>width</key>
				<integer>188</integer>
				<key>height</key>
				<integer>65</integer>
				<key>originalWidth</key>
				<integer>190</integer>
				<key>originalHeight</key>
				<integer>83</integer>
				<key>x</key>
				<integer>1123</integer>
				<key>y</key>
				<integer>200</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>-9</real>
			</dict>
			<key>images/1/fish_huabanyu_walking_00014.png</key>
			<dict>
				<key>width</key>
				<integer>189</integer>
				<key>height</key>
				<integer>65</integer>
				<key>originalWidth</key>
				<integer>190</integer>
				<key>originalHeight</key>
				<integer>83</integer>
				<key>x</key>
				<integer>1313</integer>
				<key>y</key>
				<integer>200</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-8</real>
			</dict>
			<key>images/1/fish_huabanyu_walking_00015.png</key>
			<dict>
				<key>width</key>
				<integer>189</integer>
				<key>height</key>
				<integer>66</integer>
				<key>originalWidth</key>
				<integer>190</integer>
				<key>originalHeight</key>
				<integer>83</integer>
				<key>x</key>
				<integer>1504</integer>
				<key>y</key>
				<integer>200</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-8.5</real>
			</dict>
			<key>images/1/fish_huabanyu_walking_00016.png</key>
			<dict>
				<key>width</key>
				<integer>189</integer>
				<key>height</key>
				<integer>67</integer>
				<key>originalWidth</key>
				<integer>190</integer>
				<key>originalHeight</key>
				<integer>83</integer>
				<key>x</key>
				<integer>1695</integer>
				<key>y</key>
				<integer>200</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-8</real>
			</dict>
			<key>images/1/fish_huabanyu_walking_00017.png</key>
			<dict>
				<key>width</key>
				<integer>188</integer>
				<key>height</key>
				<integer>69</integer>
				<key>originalWidth</key>
				<integer>190</integer>
				<key>originalHeight</key>
				<integer>83</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>276</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>-7</real>
			</dict>
			<key>images/1/fish_huabanyu_walking_00018.png</key>
			<dict>
				<key>width</key>
				<integer>188</integer>
				<key>height</key>
				<integer>72</integer>
				<key>originalWidth</key>
				<integer>190</integer>
				<key>originalHeight</key>
				<integer>83</integer>
				<key>x</key>
				<integer>190</integer>
				<key>y</key>
				<integer>276</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>-5.5</real>
			</dict>
			<key>images/1/fish_huabanyu_walking_00019.png</key>
			<dict>
				<key>width</key>
				<integer>187</integer>
				<key>height</key>
				<integer>75</integer>
				<key>originalWidth</key>
				<integer>190</integer>
				<key>originalHeight</key>
				<integer>83</integer>
				<key>x</key>
				<integer>380</integer>
				<key>y</key>
				<integer>276</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>-4</real>
			</dict>
			<key>images/1/fish_huabanyu_walking_00020.png</key>
			<dict>
				<key>width</key>
				<integer>187</integer>
				<key>height</key>
				<integer>77</integer>
				<key>originalWidth</key>
				<integer>190</integer>
				<key>originalHeight</key>
				<integer>83</integer>
				<key>x</key>
				<integer>569</integer>
				<key>y</key>
				<integer>276</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>-3</real>
			</dict>
			<key>images/1/fish_huabanyu_walking_00021.png</key>
			<dict>
				<key>width</key>
				<integer>186</integer>
				<key>height</key>
				<integer>80</integer>
				<key>originalWidth</key>
				<integer>190</integer>
				<key>originalHeight</key>
				<integer>83</integer>
				<key>x</key>
				<integer>758</integer>
				<key>y</key>
				<integer>276</integer>
				<key>offsetX</key>
				<real>2</real>
				<key>offsetY</key>
				<real>-1.5</real>
			</dict>
			<key>images/1/fish_huabanyu_walking_00022.png</key>
			<dict>
				<key>width</key>
				<integer>186</integer>
				<key>height</key>
				<integer>82</integer>
				<key>originalWidth</key>
				<integer>190</integer>
				<key>originalHeight</key>
				<integer>83</integer>
				<key>x</key>
				<integer>946</integer>
				<key>y</key>
				<integer>276</integer>
				<key>offsetX</key>
				<real>2</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>images/1/fish_huabanyu_walking_00023.png</key>
			<dict>
				<key>width</key>
				<integer>185</integer>
				<key>height</key>
				<integer>82</integer>
				<key>originalWidth</key>
				<integer>190</integer>
				<key>originalHeight</key>
				<integer>83</integer>
				<key>x</key>
				<integer>1134</integer>
				<key>y</key>
				<integer>276</integer>
				<key>offsetX</key>
				<real>2.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>fish_huabanyu0.png</string>
			<key>realTextureFileName</key>
			<string>fish_huabanyu0.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>