<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>images/fish_kongqueyu_dying_01.png</key>
			<dict>
				<key>width</key>
				<integer>218</integer>
				<key>height</key>
				<integer>83</integer>
				<key>originalWidth</key>
				<integer>220</integer>
				<key>originalHeight</key>
				<integer>92</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>-4.5</real>
			</dict>
			<key>images/fish_kongqueyu_dying_02.png</key>
			<dict>
				<key>width</key>
				<integer>217</integer>
				<key>height</key>
				<integer>82</integer>
				<key>originalWidth</key>
				<integer>220</integer>
				<key>originalHeight</key>
				<integer>92</integer>
				<key>x</key>
				<integer>220</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>-2</real>
			</dict>
			<key>images/fish_kongqueyu_dying_03.png</key>
			<dict>
				<key>width</key>
				<integer>204</integer>
				<key>height</key>
				<integer>78</integer>
				<key>originalWidth</key>
				<integer>220</integer>
				<key>originalHeight</key>
				<integer>92</integer>
				<key>x</key>
				<integer>439</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>8</real>
				<key>offsetY</key>
				<real>3</real>
			</dict>
			<key>images/fish_kongqueyu_dying_04.png</key>
			<dict>
				<key>width</key>
				<integer>196</integer>
				<key>height</key>
				<integer>78</integer>
				<key>originalWidth</key>
				<integer>220</integer>
				<key>originalHeight</key>
				<integer>92</integer>
				<key>x</key>
				<integer>645</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>12</real>
				<key>offsetY</key>
				<real>7</real>
			</dict>
			<key>images/1/fish_kongqueyu_walking_00000.png</key>
			<dict>
				<key>width</key>
				<integer>218</integer>
				<key>height</key>
				<integer>83</integer>
				<key>originalWidth</key>
				<integer>220</integer>
				<key>originalHeight</key>
				<integer>88</integer>
				<key>x</key>
				<integer>843</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>1.5</real>
			</dict>
			<key>images/1/fish_kongqueyu_walking_00001.png</key>
			<dict>
				<key>width</key>
				<integer>218</integer>
				<key>height</key>
				<integer>82</integer>
				<key>originalWidth</key>
				<integer>220</integer>
				<key>originalHeight</key>
				<integer>88</integer>
				<key>x</key>
				<integer>1063</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>images/1/fish_kongqueyu_walking_00002.png</key>
			<dict>
				<key>width</key>
				<integer>217</integer>
				<key>height</key>
				<integer>83</integer>
				<key>originalWidth</key>
				<integer>220</integer>
				<key>originalHeight</key>
				<integer>88</integer>
				<key>x</key>
				<integer>1283</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>images/1/fish_kongqueyu_walking_00003.png</key>
			<dict>
				<key>width</key>
				<integer>214</integer>
				<key>height</key>
				<integer>83</integer>
				<key>originalWidth</key>
				<integer>220</integer>
				<key>originalHeight</key>
				<integer>88</integer>
				<key>x</key>
				<integer>1502</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>images/1/fish_kongqueyu_walking_00004.png</key>
			<dict>
				<key>width</key>
				<integer>211</integer>
				<key>height</key>
				<integer>84</integer>
				<key>originalWidth</key>
				<integer>220</integer>
				<key>originalHeight</key>
				<integer>88</integer>
				<key>x</key>
				<integer>1718</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>4.5</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>images/1/fish_kongqueyu_walking_00005.png</key>
			<dict>
				<key>width</key>
				<integer>208</integer>
				<key>height</key>
				<integer>82</integer>
				<key>originalWidth</key>
				<integer>220</integer>
				<key>originalHeight</key>
				<integer>88</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>86</integer>
				<key>offsetX</key>
				<real>6</real>
				<key>offsetY</key>
				<real>-2</real>
			</dict>
			<key>images/1/fish_kongqueyu_walking_00006.png</key>
			<dict>
				<key>width</key>
				<integer>205</integer>
				<key>height</key>
				<integer>78</integer>
				<key>originalWidth</key>
				<integer>220</integer>
				<key>originalHeight</key>
				<integer>88</integer>
				<key>x</key>
				<integer>210</integer>
				<key>y</key>
				<integer>86</integer>
				<key>offsetX</key>
				<real>7.5</real>
				<key>offsetY</key>
				<real>-3</real>
			</dict>
			<key>images/1/fish_kongqueyu_walking_00007.png</key>
			<dict>
				<key>width</key>
				<integer>202</integer>
				<key>height</key>
				<integer>74</integer>
				<key>originalWidth</key>
				<integer>220</integer>
				<key>originalHeight</key>
				<integer>88</integer>
				<key>x</key>
				<integer>417</integer>
				<key>y</key>
				<integer>86</integer>
				<key>offsetX</key>
				<real>9</real>
				<key>offsetY</key>
				<real>-4</real>
			</dict>
			<key>images/1/fish_kongqueyu_walking_00008.png</key>
			<dict>
				<key>width</key>
				<integer>201</integer>
				<key>height</key>
				<integer>71</integer>
				<key>originalWidth</key>
				<integer>220</integer>
				<key>originalHeight</key>
				<integer>88</integer>
				<key>x</key>
				<integer>621</integer>
				<key>y</key>
				<integer>86</integer>
				<key>offsetX</key>
				<real>9.5</real>
				<key>offsetY</key>
				<real>-5.5</real>
			</dict>
			<key>images/1/fish_kongqueyu_walking_00009.png</key>
			<dict>
				<key>width</key>
				<integer>201</integer>
				<key>height</key>
				<integer>70</integer>
				<key>originalWidth</key>
				<integer>220</integer>
				<key>originalHeight</key>
				<integer>88</integer>
				<key>x</key>
				<integer>824</integer>
				<key>y</key>
				<integer>86</integer>
				<key>offsetX</key>
				<real>9.5</real>
				<key>offsetY</key>
				<real>-6</real>
			</dict>
			<key>images/1/fish_kongqueyu_walking_00010.png</key>
			<dict>
				<key>width</key>
				<integer>201</integer>
				<key>height</key>
				<integer>69</integer>
				<key>originalWidth</key>
				<integer>220</integer>
				<key>originalHeight</key>
				<integer>88</integer>
				<key>x</key>
				<integer>1027</integer>
				<key>y</key>
				<integer>86</integer>
				<key>offsetX</key>
				<real>9.5</real>
				<key>offsetY</key>
				<real>-6.5</real>
			</dict>
			<key>images/1/fish_kongqueyu_walking_00011.png</key>
			<dict>
				<key>width</key>
				<integer>201</integer>
				<key>height</key>
				<integer>68</integer>
				<key>originalWidth</key>
				<integer>220</integer>
				<key>originalHeight</key>
				<integer>88</integer>
				<key>x</key>
				<integer>1230</integer>
				<key>y</key>
				<integer>86</integer>
				<key>offsetX</key>
				<real>9.5</real>
				<key>offsetY</key>
				<real>-7</real>
			</dict>
			<key>images/1/fish_kongqueyu_walking_00012.png</key>
			<dict>
				<key>width</key>
				<integer>203</integer>
				<key>height</key>
				<integer>69</integer>
				<key>originalWidth</key>
				<integer>220</integer>
				<key>originalHeight</key>
				<integer>88</integer>
				<key>x</key>
				<integer>1433</integer>
				<key>y</key>
				<integer>86</integer>
				<key>offsetX</key>
				<real>8.5</real>
				<key>offsetY</key>
				<real>-6.5</real>
			</dict>
			<key>images/1/fish_kongqueyu_walking_00013.png</key>
			<dict>
				<key>width</key>
				<integer>207</integer>
				<key>height</key>
				<integer>69</integer>
				<key>originalWidth</key>
				<integer>220</integer>
				<key>originalHeight</key>
				<integer>88</integer>
				<key>x</key>
				<integer>1638</integer>
				<key>y</key>
				<integer>86</integer>
				<key>offsetX</key>
				<real>6.5</real>
				<key>offsetY</key>
				<real>-7.5</real>
			</dict>
			<key>images/1/fish_kongqueyu_walking_00014.png</key>
			<dict>
				<key>width</key>
				<integer>211</integer>
				<key>height</key>
				<integer>69</integer>
				<key>originalWidth</key>
				<integer>220</integer>
				<key>originalHeight</key>
				<integer>88</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>170</integer>
				<key>offsetX</key>
				<real>4.5</real>
				<key>offsetY</key>
				<real>-7.5</real>
			</dict>
			<key>images/1/fish_kongqueyu_walking_00015.png</key>
			<dict>
				<key>width</key>
				<integer>214</integer>
				<key>height</key>
				<integer>69</integer>
				<key>originalWidth</key>
				<integer>220</integer>
				<key>originalHeight</key>
				<integer>88</integer>
				<key>x</key>
				<integer>213</integer>
				<key>y</key>
				<integer>170</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>-7.5</real>
			</dict>
			<key>images/1/fish_kongqueyu_walking_00016.png</key>
			<dict>
				<key>width</key>
				<integer>216</integer>
				<key>height</key>
				<integer>68</integer>
				<key>originalWidth</key>
				<integer>220</integer>
				<key>originalHeight</key>
				<integer>88</integer>
				<key>x</key>
				<integer>429</integer>
				<key>y</key>
				<integer>170</integer>
				<key>offsetX</key>
				<real>2</real>
				<key>offsetY</key>
				<real>-7</real>
			</dict>
			<key>images/1/fish_kongqueyu_walking_00017.png</key>
			<dict>
				<key>width</key>
				<integer>217</integer>
				<key>height</key>
				<integer>66</integer>
				<key>originalWidth</key>
				<integer>220</integer>
				<key>originalHeight</key>
				<integer>88</integer>
				<key>x</key>
				<integer>647</integer>
				<key>y</key>
				<integer>170</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>-7</real>
			</dict>
			<key>images/1/fish_kongqueyu_walking_00018.png</key>
			<dict>
				<key>width</key>
				<integer>218</integer>
				<key>height</key>
				<integer>63</integer>
				<key>originalWidth</key>
				<integer>220</integer>
				<key>originalHeight</key>
				<integer>88</integer>
				<key>x</key>
				<integer>866</integer>
				<key>y</key>
				<integer>170</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>-5.5</real>
			</dict>
			<key>images/1/fish_kongqueyu_walking_00019.png</key>
			<dict>
				<key>width</key>
				<integer>218</integer>
				<key>height</key>
				<integer>59</integer>
				<key>originalWidth</key>
				<integer>220</integer>
				<key>originalHeight</key>
				<integer>88</integer>
				<key>x</key>
				<integer>1086</integer>
				<key>y</key>
				<integer>170</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>-3.5</real>
			</dict>
			<key>images/1/fish_kongqueyu_walking_00020.png</key>
			<dict>
				<key>width</key>
				<integer>218</integer>
				<key>height</key>
				<integer>60</integer>
				<key>originalWidth</key>
				<integer>220</integer>
				<key>originalHeight</key>
				<integer>88</integer>
				<key>x</key>
				<integer>1306</integer>
				<key>y</key>
				<integer>170</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>-3</real>
			</dict>
			<key>images/1/fish_kongqueyu_walking_00021.png</key>
			<dict>
				<key>width</key>
				<integer>217</integer>
				<key>height</key>
				<integer>66</integer>
				<key>originalWidth</key>
				<integer>220</integer>
				<key>originalHeight</key>
				<integer>88</integer>
				<key>x</key>
				<integer>1526</integer>
				<key>y</key>
				<integer>170</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>images/1/fish_kongqueyu_walking_00022.png</key>
			<dict>
				<key>width</key>
				<integer>217</integer>
				<key>height</key>
				<integer>77</integer>
				<key>originalWidth</key>
				<integer>220</integer>
				<key>originalHeight</key>
				<integer>88</integer>
				<key>x</key>
				<integer>1745</integer>
				<key>y</key>
				<integer>170</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>1.5</real>
			</dict>
			<key>images/1/fish_kongqueyu_walking_00023.png</key>
			<dict>
				<key>width</key>
				<integer>218</integer>
				<key>height</key>
				<integer>84</integer>
				<key>originalWidth</key>
				<integer>220</integer>
				<key>originalHeight</key>
				<integer>88</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>249</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>2</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>fish_kongqueyu0.png</string>
			<key>realTextureFileName</key>
			<string>fish_kongqueyu0.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>